In [2]:
import pandas as pd

In [7]:
df_quotes = pd.read_csv("Data/emma.quotes", delimiter="\t")
df_quotes['quote']

0       “ Poor Miss Taylor!—I wish she were here again...
1       “ I can not agree with you , papa ; you know I...
2       “ A house of her own!—But where is the advanta...
3       “ How often we shall be going to see them , an...
4       “ My dear , how am I to get so far ? Randalls ...
                              ...
2087    ” said he to Emma , and trying , as he spoke ,...
2088    ” Emma soon recollected , and understood him ;...
2089                                       ” he cried . “
2090    ” Jane was forced to smile completely , for a ...
2091    ” He had a great deal to say in return , and v...
Name: quote, Length: 2092, dtype: object

In [9]:
df_supersense = pd.read_csv("Data/emma.supersense", delimiter="\t")
df_supersense

       start_token  end_token supersense_category                  text
0                0          0         noun.person                  Emma
1                2          4         noun.person  Jane Austen Contents
2                5          7          noun.group     VOLUME I. CHAPTER
3                9          9  noun.communication               CHAPTER
4               32         32  noun.communication               CHAPTER
...            ...        ...                 ...                   ...
49711       189452     189452      verb.cognition              answered
49712       189456     189456          noun.state             happiness
49713       189459     189459          noun.group                 union
49714       189461     189461         noun.person                 FINIS
49715       189469     189471         noun.person  GUTENBERG EBOOK EMMA

[49716 rows x 4 columns]